    @media(max-width: 1200px) {
        .footer-inner {
            flex-wrap: wrap;
            justify-content: center;
        }
        .footer-inner__block {
            margin-bottom: 20px;
        }
        .footer-block+.footer-block {
            margin-left: 20px;
        }
    }
    
    @media(max-width: 1100px) {
        .main-content__inner {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
        }
        .logo-main {
            display: none;
        }
        .logo-media {
            display: block;
        }
        .populiar {
            display: none;
        }
    }
    
    @media(max-width: 1000px) {
        .language,
        .premium-btn,
        .catalog-btn {
            display: none;
        }
        .item-info-inner {
            flex-wrap: wrap;
        }
        .tabs {
            padding-bottom: 20px;
        }
        .footer-inner__block {
            flex-wrap: wrap;
        }
        .footer-block+.footer-block {
            margin-left: 0;
        }
        .footer-block {
            margin-bottom: 20px;
        }
    }
    
    @media(max-width: 800px) {
        .header-baner,
        .logo-media,
        .user {
            display: none;
        }
        .slider-item__pic {
            display: none;
        }
        .slider-item__media-pic {
            display: block;
        }
        .main-content__inner {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
        }
        .catalog-settings__sort-btn {
            display: block;
        }
        .catalog-sidebar {
            display: none;
        }
    }
    
    @media(max-width: 700px) {
        .main-title {
            font-size: 24px;
        }
        .app-adv__inner {
            flex-wrap: wrap;
            justify-content: center;
        }
        .app-adv__title {
            margin-bottom: 20px;
            text-align: center;
        }
    }
    
    @media screen and (max-width: 650px) {
        .tabs__caption li {
            -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
            flex: 1 0 auto;
        }
        .vertical .tabs__caption {
            float: none;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }
        .vertical .tabs__caption li {
            border-width: 2px 2px 0;
            border-radius: 5px 5px 0 0;
        }
        .vertical .tabs__caption li:last-child:before {
            display: block;
        }
        .vertical .tabs__caption .active:after {
            top: auto;
            bottom: -5px;
            left: 0;
            right: 0;
            width: auto;
            height: 5px;
            background: #FFF;
        }
    }
    
    @media(max-width: 600px) {
        .search-form__inner span,
        .search-form__inner button {
            display: none;
        }
        .search-form__input-wrapper {
            border-radius: 3px;
        }
        .main-content__inner {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
        }
        .footer-inner {
            flex-direction: column;
        }
    }
    
    @media(max-width: 500px) {
        .content-item {
            width: 100%;
        }
    }
    
    @media(max-width: 400px) {
        .main-title {
            font-size: 20px;
        }
    }
    
    @media(max-width: 300px) {
        .app-adv__btns {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
