.top-line {
    padding: 20px 0;
}

.catalog-top-line {
    margin: 0 0 0 auto;
    display: flex;
    justify-content: space-between;
}

.catalog-sidebar {
    margin-left: 20px;
}

.sidebar-toggle__btn.icon-arrow-up.in {
    transform: rotate(180deg);
}

.catalog-settings__sort-btn {
    display: none;
}

.catalog-settings__sort-btn p {
    padding: 3px;
    border-radius: 3px;
    background-color: #03852f;
    color: #fff;
}

.breadcrumbs {
    display: flex;
    padding-bottom: 20px;
}

.breadcrumbs-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumbs-link {
    margin-left: 10px;
    color: #ff9a30;
}

.catalog-settings {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.sorting-list {
    height: 20px;
    cursor: pointer;
}

.catalog-view {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.catalog-view__btn {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #fff;
    background-color: #4d4b4b;
    border: none;
}

.catalog-view__btn:hover {
    background-color: #c0c0c0;
}

.catalog-view__btn+.catalog-view__btn {
    margin-left: 10px;
}

.catalog-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog {
    display: flex;
    justify-content: space-between;
}

.catalog-add-btn {
    text-align: center;
    margin: 20px 0;
}

.show-more__link {
    color: #3e77aa;
    font-size: 18px;
}

.show-more__link:hover {
    color: #ff0000;
    text-decoration: underline;
}

.sidebar-inner {
    width: 300px;
}

.sidebar-block {
    padding: 0 10px 20px;
    border-bottom: 1px solid #c0c0c0;
}

.sidebar-toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 2px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background: none;
    border: none;
}

.sidebar-toggle__title,
.icon-arrow-up,
.icon-arrow-down {
    padding: 3px 0;
    font-size: 18px;
    color: #3e77aa;
}

.sidebar-toggle__quantity,
.block-inner__item-quantity {
    color: #a6a5a5;
    margin-left: 10px;
}

.sidebar-block__inner {
    margin-left: 20px;
}

.block-inner__list input {
    margin-right: 20px;
}

.block-inner__list-item {
    margin-bottom: 5px;
}

.block-inner__list-link label {
    font-size: 18px;
    line-height: 24px;
}

.form-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 20px;
}

.form-block input {
    width: 50px;
    margin: 0 10px;
}

.range-slider {
    margin-right: 20px;
}

.range-slider input {
    width: 100%;
}