*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #000;
}

body.lock {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

.btn {
    max-width: 140px;
    padding: 10px 30px;
    border-radius: 5px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.green-bg {
    background-color: #03852f;
}

.black-bg {
    background-color: #000;
}

.h2-title {
    font-size: 20px;
    font-weight: 500;
}

.hiden {
    display: none;
}

.header {
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.header-baner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
}


/* .burger-menu {
    cursor: pointer;
    padding: 5px;
    border: 1px solid transparent;
    margin-right: 10px;
} */

.burger-menu {
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    text-align: center;
}

.burger-menu span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 4px;
    top: 13px;
    transition: all .3s ease 0s;
}

.burger-menu::before,
.burger-menu::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    transition: all .3s ease 0s;
}

.burger-menu::before {
    top: 2px;
}

.burger-menu::after {
    bottom: 2px;
}

.burger-menu.active::before {
    transform: rotate(45deg);
    top: 13px;
}

.burger-menu.active::after {
    transform: rotate(-45deg);
    bottom: 13px;
}

.burger-menu.active span {
    display: none;
}

.header-menu {
    position: fixed;
    overflow: scroll;
    max-height: 100vh;
    top: -200%;
    left: 0;
    padding: 10px;
    width: 300px;
    background-color: #a6a5a5;
    z-index: 99;
    transition: all .6s ease-in-out .6s;
}

.header-menu.active {
    top: 0;
}

.menu-bar__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000;
}

.menu-bar__item {
    margin-bottom: 20px;
}

.bar-item__logo {
    position: relative;
    text-align: left;
}

.bar-item__close-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: 50%;
}

.bar-item__close-btn::before,
.bar-item__close-btn::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 20px;
    height: 1px;
    right: 0;
    top: 50%;
}

.bar-item__close-btn::after {
    transform: rotate(45deg);
    top: 2px
}

.bar-item__close-btn::before {
    transform: rotate(-45deg);
    top: 2px
}

.bar-item__premium {
    position: relative;
    cursor: pointer;
    padding: 5px;
    background-color: #00a046;
    color: #ff9a30;
}

.bar-item__premium:hover {
    background-color: #ff9a30;
    color: #00a046;
}

.bar-item__premium p:first-child {
    margin-bottom: 5px;
}

.bar-item__premium p:nth-child(2) {
    color: #fff;
    font-size: 12px;
}

.bar-item__premium span {
    position: absolute;
    top: 30%;
    right: 10px;
}

.bar-item__info {
    padding: 5px;
    align-items: center;
    border-bottom: 1px solid #4d4b4b;
}

.bar-item__info div {
    position: relative;
    margin-bottom: 30px;
}

.bar-item__info div>a {
    padding-left: 30px;
}

.bar-item__info div>a:hover {
    color: #ff0000;
    border-bottom: 1px solid #f00;
}

.bar-item__info div>span {
    position: absolute;
    top: 0;
    left: 0;
}

.bar-item__info div>span:hover {
    border-bottom: 1px solid #f00;
    color: #ff0000;
}

.bar-item__title {
    margin-bottom: 20px;
}

.bar-item__list-first {
    border-bottom: 1px solid #4d4b4b;
    margin-bottom: 30px;
}

.bar-item__list-item {
    margin-bottom: 20px;
}

.bar-item__list-item a:hover {
    border-bottom: 1px solid #f00;
    color: #ff0000;
}

.logo-media {
    display: none;
}

.logo-main__img {
    height: 70px;
    width: auto;
}

.catalog-btn {
    position: relative;
    background-color: #4d4b4b;
    color: #fff;
    border: 1px solid #fff;
    padding-left: 50px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 10px;
}

.catalog-btn a {
    color: #fff;
}

.catalog-btn:hover {
    background-color: #a6a5a5;
}

.header-search-form {
    flex-grow: 1;
    margin: 0 10px;
}

.search-form__inner {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    transition: all .25s ease-in-out;
}

.search-form__input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 3px 0 0 3px;
    overflow: hidden;
}

.search-form__input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 0;
    font-size: 15px;
    padding-left: 40px;
}

.search-form__input:focus {
    border: none;
    height: 41px;
}

.search-form__mic {
    cursor: pointer;
    position: relative;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border: transparent;
    background: #fff;
    color: #000;
    border-left: 1px solid #e9e9e9;
    border-radius: none;
}

.search-form__mic:focus {
    border: transparent;
}

.search-form__submit {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    border: none;
    background-color: #4d4b4b;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0 3px 3px 0;
}

.language-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language-item__link {
    color: #c0c0c0;
    font-weight: 500;
    padding: 5px;
    border: 1px solid transparent;
}

.active-lang {
    color: #fff;
    font-size: 20px;
}

.language-item__link:hover {
    color: #ff0000;
}

.premium-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 10px;
}

.premium-btn__text {
    color: #fff;
    font-size: 12px;
    margin-bottom: 5px;
}

.premium-btn__link {
    display: block;
    color: #ff9a30;
    padding: 2px 10px;
    border-radius: 4px;
    background-color: #03852f;
    border: 1px solid #ff9a30;
}

.premium-btn__link:hover {
    color: #03852f;
    background-color: #ff9a30;
}

.icon-btn {
    cursor: pointer;
    padding: 5px;
    border: 1px solid transparent;
}

.icon-btn:hover {
    border-radius: 5px;
    background-color: #4d4b4b;
    border: 1px solid #fff;
}

.user {
    margin: 0 10px;
}

.cart {
    position: relative;
}

.number {
    position: absolute;
    background-color: #ff9a30;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: -7px;
    right: -7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main {
    margin-top: 125px;
}

.h1-title {
    font-size: 38px;
    margin-bottom: 30px;
}

.slider-item {
    margin: 0 auto;
}

.slider-item__link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-item__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.slider-item__media-pic {
    display: none;
}

.main-content {
    margin: 0 auto;
    padding-bottom: 48px;
}

.main-content__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    border-radius: 8px;
}

.content-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 0;
    background-color: #c0c0c0;
    border-radius: 8px;
    opacity: 0.7;
    width: 250px;
}

.content-item:hover {
    opacity: 1;
}

.content-item__img {
    padding-bottom: 20px;
}

.content-itme__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.populia {
    padding-bottom: 30px;
}

.populiar-title {
    font-size: 24px;
    margin-bottom: 16px;
}

.populiar-slider {
    margin: 0 auto;
}

.position {
    display: inline-block;
    padding: 10px;
    max-width: 250px;
    font-size: 12px;
    border: 1px solid #a6a5a5;
}

.position:hover {
    border: 1px solid #ff0000;
}

.poisition-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.position-status {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: #ff0000;
    color: #fff;
    border-radius: 18px;
}

.position-img {
    margin: 20px auto;
}

.position-titile {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
}

.position-review__link {
    position: relative;
}

.position-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.star-box {
    display: flex;
    justify-content: space-between;
}

.position-review__text {
    padding-left: 20px;
    color: #3e77aa;
}

.position-review__text:hover {
    color: #ff0000;
}

.position-price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.position-price__sum {
    font-size: 20px;
    font-weight: 600;
    color: #ff0000;
}

.position-price__link {
    position: relative;
}

.position-location {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #00a046;
    margin-bottom: 20px;
}

.positon-location__text {
    position: relative;
    padding-right: 30px;
}

.position-desc__text {
    display: none;
}

.info-block {
    padding-bottom: 40px;
}

.info-block__title {
    margin: 50px 0 30px;
}

.info-block__text {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 24px;
    text-align: justify;
}

.info-block__list {
    margin-left: 40px;
}

.info-block__text-list {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 24px;
    text-align: justify;
    list-style: circle;
    margin: 20px;
}

.app-adv {
    margin-bottom: 40px;
}

.app-adv__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.app-adv__title {
    padding-left: 10px;
    color: #fff;
}

.app-adv__btns {
    padding-right: 10px;
}

.app-adv__link:hover {
    opacity: 0.8;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 20px;
}

.footer-inner__block {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.footer-block+.footer-block {
    margin-right: 10px;
}

.footer-block__title {
    margin-bottom: 20px;
    color: #4d4b4b;
}

.footer-block__link {
    color: #3e77aa;
    padding-bottom: 20px;
    padding-left: 10px;
}

.office-hours {
    position: relative;
    margin-bottom: 20px;
    padding-left: 25px;
}

.office-hours:hover .footer-block__link {
    color: #ff0000;
    text-decoration: underline;
}

.office-hours:hover .icon-clock::before {
    color: #ff0000;
}

.social-media {
    margin: 0 auto;
}

.social-media__inner {
    display: flex;
    justify-content: space-between;
}

.footer-list__item {
    margin-bottom: 10px;
}

.social-media__item:hover span {
    color: #ff0000;
}

.footer-list__item:hover a {
    color: #ff0000;
    text-decoration: underline;
}

.copy-right a {
    color: #3e77aa;
}

.copy-right:hover a {
    color: #ff0000;
    text-decoration: underline;
}

.copy-right a {
    color: #3e77aa;
}

.copy-right {
    text-align: center;
    padding-bottom: 20px;
    line-height: 24px;
}